<template>
  <v-row>
    <v-col>
      <Chart />
    </v-col>
  </v-row>
</template>

<script>
import Chart from '@/components/Chart'

export default {
  components: {
    Chart
  },
  data: () => ({}),
}
</script>

<style lang="scss">

</style>