<template>
  <div>
    Home Page
  </div>
</template>

<script>
import { groupObjectPricesBy, ordersBookTickSizes } from '@/helpers/helpers'
import BigNumber from 'bignumber.js'
import { sortKeys } from '@/helpers/helpers'
export default {
  name: 'Home',
  data: () => ({}),
  async mounted () {

    const amounts = {
      44100: 74.40248,
      44200: 132.99548
    }
    //
    // const result = groupObjectPricesBy(amounts, 0.01)

    const result = sortKeys(amounts, true)

    console.log(result)


    console.log('test', BigNumber().toFormat(2))


    // console.log(ordersBookTickSizes('40000.01'))
    // console.log('ttest', BigNumber(42157.29004000).toFormat({ decimalSeparator: '.', groupSeparator: '' }))



  },
}
</script>
