<template>
  <div class="ticker-list-container" v-if="dssk">
    <div class="my-2 mx-4 main-price pointer" @click="openCurrencySwitcher">
      <span :class="dssk.c | priceDirection(defaultSymbolLastPrice)">{{ dssk.c | toFixed(2) }}</span>
      <div class="trading-white--text text-caption">
        ≈ {{ dssk.c | toFixed(2) | prependUSD }}
        <strong class="mobile-percent-change text-caption font-weight-medium" :class="dssk.P | percentDirection">
          {{ dssk.P | toFixed(2) | percent }}
        </strong>
      </div>
    </div>
    <div class="trades-info-header-section">
      <div class="my-2 mx-4">
        <span class="trading-darken--text text-caption ">24h Change</span>
        <div class="text-caption font-weight-medium" :class="dssk.P | percentDirection">
          {{ dssk.p | toFixed(2) }}
          {{ dssk.P | toFixed(2) | percent }}
        </div>
      </div>
      <div class="my-2 mx-4">
        <span class="trading-darken--text text-caption ">24h High</span>
        <div class="text-caption font-weight-medium">
          {{ dssk.h | toFixed(2) }}
        </div>
      </div>
      <div class="my-2 mx-4">
        <span class="trading-darken--text text-caption ">24h Low</span>
        <div class="text-caption font-weight-medium">
          {{ dssk.l | toFixed(2) }}
        </div>
      </div>
      <div class="my-2 mx-4">
        <span class="trading-darken--text text-caption ">24h Vol(BTC)</span>
        <div class="text-caption font-weight-medium">
          {{ dssk.v | toFixed | toFormat }}
        </div>
      </div>
      <div class="my-2 mx-4">
        <span class="trading-darken--text text-caption ">24h Vol(USDT)</span>
        <div class="text-caption font-weight-medium">
          {{ dssk.q | toFixed | toFormatN(0) }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  priceDirection,
  percent,
  toFixed,
  prependUSD,
  percentDirection,
  toFormat,
  toFormatN
} from '@/helpers/filters'

export default {
  name: 'TickerList',
  filters: {
    priceDirection,
    percent,
    toFixed,
    prependUSD,
    percentDirection,
    toFormat,
    toFormatN
  },
  computed: {
    dssk () {
      const defaultSymbolStreamKlines = this.$store.state.trades.defaultSymbolStreamKlines
      return defaultSymbolStreamKlines[Object.keys(defaultSymbolStreamKlines)[0]]
    },
    defaultSymbolLastPrice () {
      return this.$store.state.trades.defaultSymbolLastPrice
    }
  },
  methods: {
    openCurrencySwitcher () {
      this.$store.commit('currencySwitcher/setSwitch', true)
    },
  }
}
</script>