<template>
  <v-main class="main-section">
    <v-container fluid fill-height>
      <router-view/>
    </v-container>
  </v-main>
</template>

<script>
export default {
  name: 'Auth',
  data: () => ({}),
}
</script>

<style scoped>

</style>